.aboutUae{
    width: 1340px;

    .aboutUae-box{
        .aboutUae-images{
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}