.card-page-item {
    margin-top: 38px;

    h1 {
        font-weight: 800;
        font-size: 32px;
        color: #101828;
    }

    p {
        font-weight: 500;
        color: #404653;
    }

    button {
        width: 252px;
        height: 50px;
        background: #101828;
        color: white;
        padding: 12px 20px;
        border-radius: 18px;
    }

    .card-page-images {
        display: flex;
        margin-top: 20px;
        gap: 12px;
        flex-wrap: wrap;
    }
}