// .containerElement{
//     width: 92.2%
// }

header {
    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .header-central-text {

            .header-title-text1 {
                line-height: 90px;
                font-size: 74px;

                @media (max-width: 425px) {
                    font-size: 54px;                    
                }
            }

            .header-title-text2 {
                line-height: 90px;
                transform: translateY(-30px);
                font-size: 74px;

                @media (max-width: 425px) {
                    font-size: 54px;                    
                }

            }

            p {
                line-height: 27px;
                color: #404653;
            }
        }

        .header-left-img {
            background: white;
            box-shadow: 0px 44px 54px 0px #25373F29;
            border: 5px solid #FFFFFF;
            border-radius: 50px;

            img {
                width: 88px;
                height: 88px;
                border-radius: 50px;
            }
        }

        h1 {
            font-size: 74px;
            line-height: 90px;
        }

        p {
            font-size: 18px;
            line-height: 27px;
        }


    }

    .header-banner {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        img {
            width: 798px;
            height: 450px;
            border-radius: 24px;

            // @media (max-width: 852px) {
            //     width: 100%;
            //     height: 100%;
            // }
        }


    }

    .header-text-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border-radius: 24px;
        padding: 100px 340px 100px 340px;
        box-shadow: 0px 0px 54px 0px #25373F14;

        h1 {
            font-size: 44px;
            line-height: 64px;

            @media (max-width: 425px) {
                line-height: 20px;
            }
        }

        p {
            font-size: 16px;
            line-height: 27px;
        }

        .header-text-btns {
            display: flex;
            align-items: end;
            justify-content: space-between;
            gap: 16px;

            .default-button {
                margin-top: 20px;
                border: none;
                color: #101828;
                font-weight: 500;
            }

            .header-text-link {
                // width: 160px;
                // height: 60px;
                padding: 12px 25px;
                border-radius: 18px;
                display: flex;
                gap: 10px;
                font-weight: 500;
                background: #101828;
                color: #FFFFFF;
                // align-items: center;
                // justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;

        .header-box {
            flex-direction: column;
            align-items: center;

            img {
                width: 70px;
                height: 70px;
            }

            h1 {
                font-size: 60px;
                line-height: 80px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
            }

            .header-left-img {
                margin-bottom: 20px;

                .header-img-one {
                    margin-top: 20px;
                }
            }

            // .header-img-one {
            //     margin-top: 50px;
            // }
        }

        .header-banner {
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
        }

        .header-text-section {
            padding: 80px 100px;

            h1 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

@media (max-width: 425px) {
    header {
        .header-box {
            img {
                width: 60px;
                height: 60px;
            }

            h1 {
                font-size: 44px;
                line-height: 60px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .header-banner {
            img {
                width: 100%;
                height: auto;
            }
        }

        .header-text-section {
            padding: 40px 50px;

            h1 {
                font-size: 28px;
                line-height: 38px;
            }

            p {
                font-size: 14px;
            }

            .default-button {
                padding: 10px 20px;
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        .header-box {
            img {
                width: 50px;
                height: 50px;
            }

            h1 {
                font-size: 36px;
                line-height: 50px;
            }

            p {
                font-size: 12px;
                line-height: 18px;
            }
        }

        .header-banner {
            img {
                width: 100%;
                height: auto;
            }
        }

        .header-text-section {
            padding: 20px 20px;

            h1 {
                font-size: 24px;
                line-height: 35px;
            }

            p {
                font-size: 12px;
            }

            .header-text-btns {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .default-button {
                font-size: 14px;
                padding: 8px 16px;
            }
        }
    }
}