.nav {
    width: 1610px;
    margin: auto;
    background: #101828;
    border-radius: 20px;

    .nav-box {
        padding: 16px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                width: 214px;
                height: 55px;
            }
        }

        .nav-menu {
            display: flex;
            gap: 15px;

            .nav-button {
                border: none;
                border-radius: 13px;
                background: transparent;
                padding: 16px 24px;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
                line-height: 26.46px;
                text-align: left;
                color: #FFFFFF;

                &:hover {
                    background-color: #1D2939;
                }
            }

            .navbar-link {
                text-decoration: none;
                color: inherit;

                &.active {
                    .nav-button {
                        background-color: #1D2939;
                        color: #fff; // Ensure text is readable
                        padding: 16px 24px;
                    }
                }
            }
        }

        .nav-lang {
            display: flex;
            gap: 5px;
            background: #1D2939;
            padding: 4px;
            border-radius: 10px;

            .lang-button {
                padding: 12px 24px;
                border-radius: 16px;
                background: transparent;
                border: none;
                font-size: 18px;
                font-weight: 700;
                line-height: 26.46px;
                color: white;
                cursor: pointer;

                &.active {
                    background-color: #344054;
                }
            }
        }

        .nav-top-btn {
            padding: 12px 32px 12px 32px;
            background: #E4F418;
            border-radius: 18px;
            font-size: 18px;


            &:hover {
                color: black;
            }
        }
    }

    @media (max-width: 1200px) {
        .nav-box {
            .nav-menu {
                gap: 5px;
            }
        }
    }

    @media (max-width: 768px) {
        .nav-box {
            flex-direction: column;
            align-items: flex-start;

            .logo {
                margin-bottom: 10px;
            }

            .nav-menu {
                flex-direction: column;
                gap: 5px;

                .nav-button {
                    width: 100%;
                }
            }

            .nav-lang {
                margin-top: 10px;
                width: 100%;
                text-align: center;

                .lang-button {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .nav-box {
            .logo img {
                width: 150px;
            }

            .nav-menu {
                .nav-button {
                    padding: 12px 16px;
                }
            }

            .nav-lang {
                .lang-button {
                    padding: 10px 16px;
                }
            }
        }
    }
}