.selfDrive {
    .selfDrive-box {
        .selfDrive-items {
            display: flex;
            color: #101828;

            .selfDrive-item {
                display: flex;
                gap: 5px;

                img {
                    width: 20px;
                    height: 20px;

                    @media (max-width: 400px) {
                        width: 18px;
                        height: 18px;
                    }

                }

                b {
                    font-size: 18px;

                    @media (max-width: 400px) {
                        font-size: 14px;
                    }
                }

                p {
                    font-size: 18px;

                    @media (max-width: 400px) {
                        font-size: 14px;
                    }
                }

            }
        }

        .selfDrive-items{
            b{
                @media (max-width: 400px) {
                    font-size: 14px;
                }
            }
        }
    }

    .selfDrive-imgs {
        display: flex;
        gap: 20px;
        border-radius: 16px;
        margin-top: 20px;
    }

    .selfDrive-serviceData {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;

        @media (max-width: 550px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .selfDrive-imgs {
        @media (max-width: 400px) {
            display: flex;
            flex-direction: column;

            .selfDrive-img {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}