.pageNavbar{

    .about-links {
        // margin-top: 30px;
        // margin-bottom: 30px;

        margin: 30px 0 30px 0;
        gap: 8px;
        
    .about-link {
        padding: 16px;
        background: transparent;
        border-radius: 16px;
        color: #70747E;
        
        // &:hover {
        //     background: #F2F4F7;
        //     // color: #101828;
        //     color: #70747E;
        // }
    }
}
}