@font-face {
    font-family: "HelveticaNowDisplayBold";
    src: url(./helvetica-now-display/HelveticaNowDisplay-Bold.woff) format('woff'),
}

@font-face {
    font-family: "HelveticaNowDisplayMedium";
    src: url(./helvetica-now-display/HelveticaNowDisplay-Medium.woff);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Helvetica Now Display; */
    transition: 500ms;
}

body {
    width: 1920px;
    /* height: 100%; */
    max-width: 1920px;
    min-width: 350px;
}



a,
.dom-link {
    text-decoration: none;
    justify-content: space-between;
}

ul,
ol {
    list-style: none;
}

.flex-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerElement {
    width: 1620px;
    margin: auto;
    /* height: 100%; */
}

@media (max-width: 852px) {
    body {
        width: 100%;
    }

    .containerElement {
        width: 90%;
    }
}

/* @media (max-width: 400px) {} */


.default-title-text {
    font-weight: 700;
    color: #101828;
    margin: 0;
    font-family: "HelveticaNowDisplayBold";

}

.default-desc-text {
    font-weight: 500;
    color: #404653;
    font-size: 18px;
    font-family: "HelveticaNowDisplayMedium";
    margin: 0;
}

.default-button {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    background: #F5F5F5;
    padding: 12px 20px 12px 20px;
    border-radius: 18px;
}

.resp-box2 {
    width: 1340px;
    margin: auto;
}

@media (max-width: 852px) {
    .resp-box2 {
        width: 92%;
    }
}

@media (max-width: 400px) {
    .resp-box2 {
        width: 80%;
    }    
}




/* .default-button:hover {
    background: #CACCD2;
} */